table#software-sql{
    width:70%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    border-spacing: 20px;
}




html{
    font-family: 'Times New Roman', Times, serif;
}

body{
    max-width: 80%;
}

td{
    padding-bottom: 30px;
    border: solid #5c32c7;
    border-collapse: separate;
    border-radius:5px 5px #333;
    background-color:white;
    flex-wrap: wrap;
}

td:hover{
    transform:scale(1.05,1.05) ;
}

caption > h2.section-header{
    margin-left: 30px;
    background: #f0eff4;
}

.shop-items{
    display: grid;
}
.hide{
    display:none;
}
.content-section{
    margin:1em;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

caption > h2 > img{
    float: right;
    padding-block: 5px;
    padding-right:10px ;
    padding-top: 8px;
}

section > h2 > img{
    float: right;
    padding-block: 10px;
    padding-right:10px ;
    padding-top: 8px;
}

.section-header {
    border-radius: 5px;
    font-weight: normal;
    color: #333333;
    font-size: 2.5em;
    border: 1px solid black;
    width: 200px;
    text-align: center;
    padding-bottom: 10px;
    box-shadow: 3px 5px 5px ;
    background-color: #f6f3f3;
    padding-block: 3px;
    padding-bottom: 10px;
}

.shop-item-button{
    text-align: center;
}

.btn {
    padding: 10px 20px;
    background: transparent;
    border:2px solid white;
 }

.btn-primary {
    color: white;
    background-color: #6f65ef;
    border-radius: 0.9em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #6f09c2;
    }




.shop-item-title {
    display: block;
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
}

.shop-item-price {
    color: #333;
    font-size: medium;
    padding: 10px;
    
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
}

/*Animation Styles*/
tr, td {
    animation: slide-in 1.2s ease-in-out;
    animation-fill-mode: backwards;
   }
  
   @keyframes slide-in {
      0% {
          opacity: 0;
          transform: translateY(120%);
      }
      100% {
          opacity: 1px;
          transform: translateY(0);
      }
   }
  


/* Phone Size */
  @media only screen and (max-width: 1500px) {
    body.hardwarepage {
        font-size: 20px;
        min-width: fit-content;
        max-width: fit-content;
        height: fit-content;
    }
  
    table, tr, td {
      width: fit-content;
      height: fit-content;
    }
  
    .btn {
      width: 100px;
      
    }
  }




    